@using YTUsageViewer.Helpers;
@model PagedList.IPagedList<Channel>

@{
    ViewBag.Title = "Channels List";
    Layout = "~/Views/Shared/_YTLayout.cshtml";
    ViewBag.CurrentYtMenu = YTBrowserMenu.Channels;
    var actionName = "Channels";
    var insertedDateFrom = new DatePickerModel { InputName = "InsertedDateFrom", DisplayName = "From", SelectedDate = ViewBag.CurrentFilter.InsertedDateFrom };
    var insertedDateTo = new DatePickerModel { InputName = "InsertedDateTo", DisplayName = "To", SelectedDate = ViewBag.CurrentFilter.InsertedDateTo };
}

@using (Html.BeginForm(actionName, "YTBrowser", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-body" style="padding:0 15px;">
            <div class="row form-row">
                <label for="Title" class="col-sm-2">Find by name</label>
                <div class="col-sm-4">
                    @Html.TextBox("ChannelName", ViewBag.CurrentFilter.ChannelName as string, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <div class="form-group checkbox">
                        <label>@Html.CheckBox("IsRemoved", (bool)ViewBag.CurrentFilter.IsRemoved) Is Deleted</label>
                    </div>
                </div>
                <div class="col-sm-1">
                    @Html.Partial("_SortNPageInputs")
                    <input type="submit" name="Search" value="Search" class="btn btn-default" />
                </div>
            </div>
            <div class="row form-row">
                <span class="col-sm-2"><strong>Inserted Date</strong></span>
                <div class="col-sm-3">
                    @Html.Partial("_DatePicker", insertedDateFrom)
                </div>
                <div class="col-sm-3">
                    @Html.Partial("_DatePicker", insertedDateTo)
                </div>
            </div>
        </div>
    </div>
}
<div id="resultItems">
    <table class="table">
        <tr>
            <th>
                @Html.GridColumnHeader("Title", "title")
            </th>
            <th>
                @Html.GridColumnHeader("Description", "description")
            </th>
            <th>
                @Html.GridColumnHeader("Is Deleted", "isDeleted")
            </th>
            <th>
                @Html.GridColumnHeader("Inserted Date", "insertedDate")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr rowKey="@item.CharId">
                <td>
                    @Html.ActionLink(@item.Title, "PlaylistItems", new { SearchMode = PlaylistItemSearchMode.ForChannel, ChannelId = item.CharId },
                        new { title = "Click to view Playlist Items for this channel" })
                    <a href="https://www.youtube.com/channel/@item.CharId" target="_blank" class="pull-right"
                       title="CLick to open YouTube Channel in separate tab"><span class="glyphicon glyphicon-link channel-link"></span></a>
                </td>
                <td>
                    @Html.TruncatedGridColumn(@item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertedDate)
                </td>
            </tr>
        }

    </table>
</div>
@*PAGED LIST*@
<div class="pagedList">
    @Html.JSPagedListPager(Model)
</div>

<div style="display:none;">
    <div class="btn-row-popup-menu-head">
        Description
        <a class="btn-popover-close pull-right" href="#">
            &times;
        </a>
    </div>
</div>

@section scripts {
    <script>
        //Below function will be executed on View Load
        $(document).ready(function () {
            //https://www.w3schools.com/bootstrap/bootstrap_popover.asp

            $('[data-toggle="popover"]').popover({
                placement: 'auto left',
                html: true,
                title: function () { return $('.btn-row-popup-menu-head').html() },
                content: ''
            });
        });

    </script>
}
