@using YTUsageViewer.Helpers
@using YTUsageViewer.ViewModels
@model PagedList.IPagedList<PlaylistItem>

@{
    ViewBag.Title = "Playlist Items";
    Layout = "~/Views/Shared/_YTLayout.cshtml";
    ViewBag.CurrentYtMenu = YTBrowserMenu.Playlists;
    var searchMode = ViewBag.CurrentFilter.SearchMode as string;
}

<h2>@ViewBag.Title for "@ViewBag.MainFilter"</h2>
@using (Html.BeginForm("PlaylistItems", "YTBrowser", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="panel panel-default">
        <div class="panel-body" style="padding:0 15px;">
            <div class="row form-row">
                <label for="Title" class="col-sm-2">Find by name</label>
                <div class="col-sm-4">
                    @Html.TextBox("ItemName", ViewBag.CurrentFilter.ItemName as string, new { @class = "form-control" })
                </div>
                <label for="cboChannel" class="col-sm-1">Channel</label>
                <div class="col-sm-4">
                    @if (searchMode == PlaylistItemSearchMode.ForPlaylist)
                    {
                        @Html.DropDownList("ChannelId", ViewBag.ChannelsList as SelectList, new { @class = "form-control" })
                        @Html.Hidden("PlaylistId", ViewBag.CurrentFilter.PlaylistId as string)
                    }
                    else if (searchMode == PlaylistItemSearchMode.ForChannel)
                    {
                        @Html.DropDownList("PlaylistId", ViewBag.PlaylistList as SelectList, new { @class = "form-control" })
                        @Html.Hidden("ChannelId", ViewBag.CurrentFilter.ChannelId as string)
                    }
                    @*
                    <div class="form-group checkbox">
                        <label>@Html.CheckBox("chkIsRemoved") Is Removed</label>
                    </div>
                    *@
                </div>
                <div class="col-sm-1">
                    @Html.Partial("_SortNPageInputs")
                    @Html.Hidden("SearchMode", searchMode)
                    <input type="submit" name="Search" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<div id="resultItems">
    <table class="table">
        <tr>
            <th>
                @Html.GridColumnHeader("Video Title","title")
            </th>
            <th>
                @Html.GridColumnHeader("Published At", "publishedAt")
            </th>
            <th>
                @Html.GridColumnHeader("Video Owner Channel", "videoOwnerChannel")
            </th>
            <th>
                @Html.GridColumnHeader("Inserted Date", "insertedDate")
            </th>
            <th>
                @Html.GridColumnHeader("Is Removed", "isRemoved")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr rowKey="@item.CharId">
                <td>
                    <a href="https://www.youtube.com/watch?v=@item.VideoId" target="_blank">@item.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedAt)
                </td>
                <td>
                    <a href="https://www.youtube.com/channel/@item.VideoOwnerChannelId" target="_blank">@item.VideoOwnerChannelName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertedDate)
                </td>
                <td>
                    @(item.IsRemoved == "Y"? "Yes" : "No")
                </td>
            </tr>
        }
    </table>
</div>
@*PAGED LIST*@
<div class="pagedList">
    @Html.JSPagedListPager(Model)
</div>

@section scripts {
    <script>
        $(function () {
            var btnBack = $('<button type="button" class="btn btn-info" id="btnBack" title="Back to Playlists">\
                                <i class="glyphicon glyphicon-backward" ></i>\
                           </button>');
            $('#pageToolbar').append(btnBack);
            btnBack.click(function () {
                var playlistViewUrl = '@Url.Action("Playlists")';
                $(location).attr('href', playlistViewUrl);
            });

            $("[name='ChannelId']").select2();
        });

        $('#btnExport').click(function () {
            alert("Exporting Playlists (WIP)");
        });
    </script>
}
