@using YTUsageViewer.Helpers
@using YTUsageViewer.Models
@model PagedList.IPagedList<Subscription>

@{
    ViewBag.Title = "Subscriptions List";
    Layout = "~/Views/Shared/_YTLayout.cshtml";
    ViewBag.CurrentYtMenu = YTBrowserMenu.Subscriptions;
    var newSortDir = ViewBag.CurrentFilter.SortDir == "ASC" ? "DESC" : "ASC";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "YTBrowser", FormMethod.Get))
{
    <div class="panel panel-default">
        <div class="panel-body" style="padding:0 15px;">
            <div class="row form-row">
                <label for="Title" class="col-sm-2">Find by name</label>
                <div class="col-sm-4">
                    @Html.TextBox("ChannelName", ViewBag.CurrentFilter.ChannelName as string, new { @class = "form-control" })
                </div>
                <div class="col-sm-1">
                    @Html.Partial("_SortNPageInputs")
                    <input type="submit" name="Search" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<div id="resultItems">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Channel Title", "Index", new { SortOrder = "channelTitle", SortDir = newSortDir, ChannelName = ViewBag.CurrentFilter.ChannelName, PageNumber = ViewBag.CurrentFilter.PageNumber })
                <span class="glyphicon @Html.GetSortDirIcon("channelTitle") pull-right"></span>
            </th>
            <th>
                @Html.ActionLink("Inserted Date", "Index", new { SortOrder = "insertedDate", SortDir = newSortDir, ChannelName = ViewBag.CurrentFilter.ChannelName, PageNumber = ViewBag.CurrentFilter.PageNumber })
                <span class="glyphicon @Html.GetSortDirIcon("insertedDate") pull-right"></span>
            </th>
            <th>
                @Html.ActionLink("Is Removed", "Index", new { SortOrder = "isRemoved", SortDir = newSortDir, ChannelName = ViewBag.CurrentFilter.ChannelName, PageNumber = ViewBag.CurrentFilter.PageNumber })
                <span class="glyphicon @Html.GetSortDirIcon("isRemoved") pull-right"></span>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr rowKey="@item.CharId">
                <td>
                    <a href="https://www.youtube.com/channel/@item.ChannelId" target="_blank">@item.ChannelTitle</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertedDate)
                </td>
                <td>
                    @(item.IsRemoved=="Y"? "Yes": "No")
                </td>
            </tr>
        }

    </table>
</div>
@*PAGED LIST*@
<div class="pagedList">
    @Html.JSPagedListPager(Model)
</div>
@section scripts {
    <script>
        $('#btnExport').click(function () {
            //alert("Exporting Playlists (WIP)");
            $('form').prop('action','@Url.Action("ExportSubscriptions2SpreadsheetML")');
            $('form').submit();
        });
    </script>
}