@using YTUsageViewer.Helpers
@using YTUsageViewer.Models
@model List<Subscription>

@{
    ViewBag.Title = "Subscriptions List";
    Layout = "~/Views/Shared/_YTLayout.cshtml";
    ViewBag.CurrentYtMenu = YTBrowserMenu.Subscriptions;
    var insertedDateFrom = new DatePickerModel { InputName = "InsertedDateFrom", DisplayName = "From", SelectedDate = ViewBag.CurrentFilter.InsertedDateFrom };
    var insertedDateTo = new DatePickerModel { InputName = "InsertedDateTo", DisplayName = "To", SelectedDate = ViewBag.CurrentFilter.InsertedDateTo };
}


@using (Html.BeginForm("Index", "YTBrowser", FormMethod.Get))
{
    <div class="panel panel-default">
        <div class="panel-body" style="padding:0 15px;">
            <div class="row form-row">
                <label for="Title" class="col-sm-2">Find by name</label>
                <div class="col-sm-4">
                    @Html.TextBox("ChannelName", ViewBag.CurrentFilter.ChannelName as string, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <div class="form-group checkbox">
                        <label>@Html.CheckBox("IsRemoved", (bool)ViewBag.CurrentFilter.IsRemoved) Is Removed</label>
                    </div>
                </div>
                <div class="col-sm-1">
                    <input type="button" name="Search" value="Search" class="btn btn-default" />
                </div>
            </div>
            <div class="row form-row">
                <span class="col-sm-2"><strong>Inserted Date</strong></span>
                <div class="col-sm-3">
                    @Html.Partial("_DatePicker", insertedDateFrom)
                </div>
                <div class="col-sm-3">
                    @Html.Partial("_DatePicker", insertedDateTo)
                </div>
            </div>
        </div>
    </div>
}

<div id="resultContainer" class="scrollable">
    <div class="resultItems">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Channel Title")
                    </th>
                    <th>
                        @Html.DisplayName("Inserted Date")
                    </th>
                    <th>
                        @Html.DisplayName("Is Removed")
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/InfiniteScroller.js"></script>
@section scripts {
<script>
    let containerEl = document.querySelector('#resultContainer');
    let scroller = InfiniteScroller(containerEl);
    scroller.apiCallUrl = '@Url.Action("SubscriptionsScroll")';
    scroller.setApiCallData = function () {
        let ChannelName = document.querySelector('#ChannelName').value;
        let IsRemoved = Boolean(document.querySelector('#IsRemoved').checked);
        let InsertedDateFrom = document.querySelector('#InsertedDateFrom').value.trim();
        let InsertedDateTo = document.querySelector('#InsertedDateTo').value.trim();
        return {
            ChannelName,
            IsRemoved,
            InsertedDateFrom,
            InsertedDateTo
        };
    }
    scroller.showFetchedData = function (data, removeExistingData) {
        let tableBody = $(".resultItems table tbody");
        if (removeExistingData) tableBody.empty();

        for (let i = 0; i < data.length; i++) {
            let channel = data[i];
            let tr = $("<tr></tr>");
            tr.attr("data-rowKey", channel.CharId);
            tr.append(`<td><a href="https://www.youtube.com/channel/${channel.ChannelId}" target="_blank">${channel.ChannelTitle}</a></td>`);
            tr.append(`<td>${extractDateFromJson(channel.InsertedDate)}</td>`);
            tr.append(`<td>${channel.IsRemoved == "Y" ? "Yes" : "No"}</td>`);
            tableBody.append(tr);
        }
    };
    $(document).ready(function () {
        scroller.loadInitialData();
    });
    $('input[name=Search]').click(function () {
        //alert('You clicked search');
        scroller.loadInitialData();
    });
    </script>

}