@using YTUsageViewer.Helpers
@using YTUsageViewer.Models
@model List<Subscription>

@{
    ViewBag.Title = "Subscriptions List";
    Layout = "~/Views/Shared/_YTLayout.cshtml";
    ViewBag.CurrentYtMenu = YTBrowserMenu.Subscriptions;
    var newSortDir = ViewBag.CurrentFilter.SortDir == "ASC" ? "DESC" : "ASC";
    var insertedDateFrom = new DatePickerModel { InputName = "InsertedDateFrom", DisplayName = "From", SelectedDate = ViewBag.CurrentFilter.InsertedDateFrom };
    var insertedDateTo = new DatePickerModel { InputName = "InsertedDateTo", DisplayName = "To", SelectedDate = ViewBag.CurrentFilter.InsertedDateTo };
}


@using (Html.BeginForm("Index", "YTBrowser", FormMethod.Get))
{
    <div class="panel panel-default">
        <div class="panel-body" style="padding:0 15px;">
            <div class="row form-row">
                <label for="Title" class="col-sm-2">Find by name</label>
                <div class="col-sm-4">
                    @Html.TextBox("ChannelName", ViewBag.CurrentFilter.ChannelName as string, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <div class="form-group checkbox">
                        <label>@Html.CheckBox("IsRemoved", (bool)ViewBag.CurrentFilter.IsRemoved) Is Removed</label>
                    </div>
                </div>
                <div class="col-sm-1">
                    @Html.Partial("_SortNPageInputs")
                    <input type="submit" name="Search" value="Search" class="btn btn-default" />
                </div>
            </div>
            <div class="row form-row">
                <span class="col-sm-2"><strong>Inserted Date</strong></span>
                <div class="col-sm-3">
                    @Html.Partial("_DatePicker", insertedDateFrom)
                </div>
                <div class="col-sm-3">
                    @Html.Partial("_DatePicker", insertedDateTo)
                </div>
            </div>
        </div>
    </div>
}

<div id="resultItems">
    <div class="scrollable quotes">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayName("Channel Title")
                </th>
                <th>
                    @Html.DisplayName("Inserted Date")
                </th>
                <th>
                    @Html.DisplayName("Is Removed")
                </th>
            </tr>

            <tr></tr>
        </table>
    </div>
</div>

<script src="~/Scripts/InfiniteScroller.js"></script>
<script>
    let quotesEl = document.querySelector('.quotes');
    let scroller = InfiniteScroller(quotesEl);
    scroller.getDataApiUrl = 'https://api.javascripttutorial.net/v1/quotes/';
    scroller.showFetchedData = function (quotes) {
        quotes.forEach(qt => {
            let blockquoteEl = document.createElement("blockquote");
            blockquoteEl.classList.add("quote");
            blockquoteEl.innerHTML = `<span>[${qt.id}] </span> ${qt.quote} <footer>${qt.author}</footer>`;
            quotesEl.appendChild(blockquoteEl);
        });
    };
    scroller.loadAdditionalData();
</script>

