@using YTUsageViewer.Helpers
@using YTUsageViewer.Models
@model PagedList.IPagedList<Subscription>

@{
    ViewBag.Title = "Subscriptions List";
    Layout = "~/Views/Shared/_YTLayout.cshtml";
    ViewBag.CurrentYtMenu = YTBrowserMenu.Subscriptions;
    var newSortDir = ViewBag.CurrentFilter.SortDir == "ASC" ? "DESC" : "ASC";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "YTBrowser", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("ChannelName", ViewBag.CurrentFilter.ChannelName as string)
        @Html.Hidden("SortOrder", ViewBag.CurrentFilter.SortOrder as string, new { id = "sortOrder" })
        @Html.Hidden("SortDir", ViewBag.CurrentFilter.SortDir as string, new { id = "sortDir" })
        @Html.Hidden("PageNumber", ViewBag.CurrentFilter.PageNumber as string, new { id = "pageNumber" })
        <input type="submit" value="Search" name="Search" class=" search-btn" />
    </p>
}
<div id="resultItems">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Channel Title", "Index", new { SortOrder = "channelTitle", SortDir = newSortDir, SearchString = ViewBag.CurrentFilter.ChannelName, PageNumber = ViewBag.CurrentFilter.PageNumber })
                <span class="glyphicon @Html.GetSortDirIconNew("channelTitle") pull-right"></span>
            </th>
            <th>
                @Html.ActionLink("Inserted Date", "Index", new { SortOrder = "insertedDate", SortDir = newSortDir, SearchString = ViewBag.CurrentFilter.ChannelName, PageNumber = ViewBag.CurrentFilter.PageNumber })
                <span class="glyphicon @Html.GetSortDirIconNew("insertedDate") pull-right"></span>
            </th>
            <th>
                @Html.ActionLink("Is Removed", "Index", new { SortOrder = "isRemoved", SortDir = newSortDir, SearchString = ViewBag.CurrentFilter.ChannelName, PageNumber = ViewBag.CurrentFilter.PageNumber })
                <span class="glyphicon @Html.GetSortDirIconNew("isRemoved") pull-right"></span>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr rowKey="@item.CharId">
                <td>
                    <a href="https://www.youtube.com/channel/@item.ChannelId" target="_blank">@item.ChannelTitle</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertedDate)
                </td>
                <td>
                    @(item.IsRemoved=="Y"? "Yes": "No")
                </td>
            </tr>
        }

    </table>
</div>
@*PAGED LIST*@
<div class="pagedList">
    @Html.JSPagedListPager(Model)
</div>
@section scripts {
    <script>
        $('#btnExport').click(function () {
            //alert("Exporting Playlists (WIP)");
            $('form').prop('action','@Url.Action("ExportSubscriptions2SpreadsheetML")');
            $('form').submit();
        });
    </script>
}