@using YTUsageViewer.Helpers;
@using YTUsageViewer.ViewModels
@model PagedList.IPagedList<Video>

@{
    ViewBag.Title = "Videos List";
    Layout = "~/Views/Shared/_YTLayout.cshtml";
    ViewBag.CurrentYtMenu = YTBrowserMenu.Videos;
    var actionName = "Videos";
    var publishedDateFrom = new DatePickerModel { InputName = "PublishedDateFrom", DisplayName = "From", SelectedDate = ViewBag.CurrentFilter.PublishedDateFrom };
    var publishedDateTo = new DatePickerModel { InputName = "PublishedDateTo", DisplayName = "To", SelectedDate = ViewBag.CurrentFilter.PublishedDateTo };
    var insertedDateFrom = new DatePickerModel { InputName = "InsertedDateFrom", DisplayName = "From", SelectedDate = ViewBag.CurrentFilter.InsertedDateFrom };
    var insertedDateTo = new DatePickerModel { InputName = "InsertedDateTo", DisplayName = "To", SelectedDate = ViewBag.CurrentFilter.InsertedDateTo };
}

@using (Html.BeginForm(actionName, "YTBrowser", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Search Criteria
                <a class="pull-right" data-toggle="collapse" href="#criteriaItems"><span class="glyphicon glyphicon-resize-vertical"></span></a>
            </h4>
        </div>
        <div id="criteriaItems" class="panel-collapse collapse in">
            <div class="panel-body" style="padding:0 15px;">
                <div class="row form-row">
                    <label for="VideoName" class="col-sm-2 col-form-label">Find by name</label>
                    <div class="col-sm-3">
                        @Html.TextBox("VideoName", ViewBag.CurrentFilter.VideoName as string, new { @class = "form-control" })
                    </div>
                    <label for="ChannelID" class="col-sm-1 col-form-label">Channel</label>
                    <div class="col-sm-3">
                        @Html.DropDownList("ChannelID", ViewBag.ChannelsList as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group checkbox">
                            <label>@Html.CheckBox("isDeleted", (bool)ViewBag.CurrentFilter.IsDeleted) Is Deleted</label>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        @Html.Partial("_SortNPageInputs")
                        <input type="submit" name="Search" value="Search" class="btn btn-default" />
                    </div>
                </div>
                <div class="row form-row">
                    <span class="col-sm-2"><strong>Publised Date</strong></span>
                    <div class="col-sm-2">
                        @Html.Partial("_DatePicker", publishedDateFrom)
                    </div>
                    <div class="col-sm-2">
                        @Html.Partial("_DatePicker", publishedDateTo)
                    </div>
                    <span class="col-sm-2"><strong>Duration (Minutes)</strong></span>
                    <div class="col-sm-2">
                        <label class="col-form-label datepicker-label" for="DurationGE">Between</label>
                        @Html.TextBox("DurationGE", ViewBag.CurrentFilter.DurationGE as string, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <label class="col-form-label datepicker-label" for="DurationLE">And</label>
                        @Html.TextBox("DurationLE", ViewBag.CurrentFilter.DurationGE as string, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row form-row">
                    <span class="col-sm-2"><strong>Inserted Date</strong></span>
                    <div class="col-sm-4">
                        @Html.Partial("_DatePicker", insertedDateFrom)
                    </div>
                    <div class="col-sm-3">
                        @Html.Partial("_DatePicker", insertedDateTo)
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading" id="resultHeader">
        <h4 class="panel-title">
            Results
        </h4>
    </div>
    <div id="resultItems" class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.GridColumnHeader("Title", "title")
                </th>
                <th>
                    Description
                </th>
                <th>
                    @Html.GridColumnHeader("Channel Name", "channelName")
                </th>
                <th>
                    @Html.GridColumnHeader("Duration", "duration")
                </th>
                <th>
                    @Html.GridColumnHeader("Published At", "publishedAt")
                </th>
                <th>
                    @Html.GridColumnHeader("Inserted Date", "insertedDate")
                </th>
                <th>
                    @Html.GridColumnHeader("Is Deleted", "isDeleted")
                </th>
                <th>
                    In Playlists
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr rowKey="@item.CharId">
                    <td fieldKey="title">
                        <a href="https://www.youtube.com/watch?v=@item.CharId" target="_blank">@item.Title</a>
                    </td>
                    <td>
                        <a href="#" onclick="showVideoDescription(this);">
                            <span class="hidden">@item.Description</span>
                            <i class="glyphicon glyphicon-tasks"></i>
                        </a>
                    </td>
                    <td>
                        <a href="https://www.youtube.com/channel/@item.ChannelId" target="_blank">@item.ChannelName</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DurationSpan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsertedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        <a href="#" onclick="showPlaylists4Video(this);">
                            <i class="glyphicon glyphicon-bookmark"></i>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="panel-footer paged-footer">
        @*PAGED LIST*@
        <div class="pagedList">
            @Html.JSPagedListPager(Model)
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/ClientModalDialog.cshtml")
<div id="srvDlgContainer"></div>
@section scripts {
    <script>
        $(function () {
            //On view load tasks
            $("[name='ChannelID']").select2();
        });

        function showVideoDescription(srcElm) {
            var videoDescr = $(srcElm).children('span.hidden').text();
            //alert(videoDescr);
            var dlgClientModal = $('#dlgClientModal');
            dlgClientModal.find('.descr-display').html(videoDescr);
            showDraggableModal(dlgClientModal);
        }

        function showPlaylists4Video(srcElm) {
            var parentRow = $(srcElm).closest('tr');
            var videoId = parentRow.attr('rowKey');
            var videoName = parentRow.children('td[fieldKey=title]').find('a').text();
            //alert('Will show playlists for video id: ' + videoId + ' | Video Name: ' + videoName);
            $.ajax({
                url: '@Url.Action("Playlists4VideoPopup")',
                data: { videoId: videoId, videoName: videoName },
                type: "POST",
                success: function (response) {
                    $("#srvDlgContainer").html(response);
                    showDraggableModal($("#dlgPlaylist4Video"))
                    //$("#dlgPlaylist4Video").modal();
                },
                error: function (response) {
                    $("#srvDlgContainer").html(response.responseText);
                    showDraggableModal($("#dlgPlaylist4Video"))
                }
            });
        }
    </script>

}

