@using YTUsageViewer.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Ref: https://bootstrapious.com/p/bootstrap-sidebar -->
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="dropdown-toggle">My YT Data</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Subscriptions) {
                @:active
                }">
                <a class="nav-link" href="@Url.Action("SubscriptionsScroll")">
                    @*Earlier was pointing to Index action*@
                    <i class="glyphicon glyphicon-book"></i>
                    <span>Subscriptions</span>
                </a>
            </li>
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Playlists) { <text>active</text> }">
                <a class="nav-link" href="@Url.Action("Playlists")">
                    <i class="glyphicon glyphicon-headphones"></i>
                    <span>PlayLists</span>
                </a>
            </li>
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Channels) { <text>active</text> }">
                <a class="nav-link" href="@Url.Action("Channels")">
                    <i class="glyphicon glyphicon-film"></i>
                    <span>Channels</span>
                </a>
            </li>
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Videos) { <text>active</text> }">
                <a class="nav-link" href="@Url.Action("Videos")">
                    <i class="glyphicon glyphicon-facetime-video"></i>
                    <span>Videos</span>
                </a>
            </li>
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Comments) { <text>active</text> }">
                <a class="nav-link" href="@Url.Action("Comments")">
                    <i class="glyphicon glyphicon-comment"></i>
                    <span>Comments</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div style="width:100%">
                <div style="float:left">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="glyphicon glyphicon-align-left" title="Toggle Sidebar"></i>
                    </button>
                </div>
                <div class="page-title">
                    @ViewBag.Title
                </div>
                <div id="pageToolbar" style="float:right">
                    <button type="button" class="btn btn-info" id="btnExport" title="Export to Excel">
                        <i class="glyphicon glyphicon-cloud-download"></i>
                    </button>
                    @*<button type="button" class="btn btn-info" id="btnImport" title="Import from CSV">
                <i class="glyphicon glyphicon-cloud-upload"></i>
            </button>*@
                </div>
            </div>
        </nav>
        <div class="contentDetails">
            @RenderBody()
        </div>
    </div>
</div>
@*Below div is used to display close button Truncated grid column popup*@
<div style="display:none;">
    <div class="btn-row-popup-menu-head">
        Description
        <a class="btn-popover-close pull-right" href="#">
            &times;
        </a>
    </div>
</div>

@section subLayoutScripts {
    @Scripts.Render("~/bundles/YTBrowser")
    <script>
        function sortGrid(newSortOrder) {
            var newSortDir
            //Reverse the sortDir only if sortOrder is not changed
            if (newSortOrder != '@ViewBag.CurrentFilter.SortOrder')
                newSortDir = 'ASC';
            else
                newSortDir = '@(ViewBag.CurrentFilter.SortDir == "ASC" ? "DESC" : "ASC")';

            sortGridInner(newSortOrder, newSortDir);
        }

    </script>

    @RenderSection("scripts", required: false)
}




