@using YTUsageViewer.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Ref: https://bootstrapious.com/p/bootstrap-sidebar -->
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="dropdown-toggle">My YT Data</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Subscriptions) {
                @:active
                }">
                <a class="nav-link" href="@Url.Action("Index")">
                    <i class="glyphicon glyphicon-book"></i>
                    <span>Subscriptions</span>
                </a>
            </li>
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Playlists) { <text>active</text> }">
                <a class="nav-link" href="@Url.Action("Playlists")">
                    <i class="glyphicon glyphicon-headphones"></i>
                    <span>PlayLists</span>
                </a>
            </li>
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Channels) { <text>active</text> }">
                <a class="nav-link" href="@Url.Action("Channels")">
                    <i class="glyphicon glyphicon-film"></i>
                    <span>Channels</span>
                </a>
            </li>
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Videos) { <text>active</text> }">
                <a class="nav-link" href="@Url.Action("Videos")">
                    <i class="glyphicon glyphicon-facetime-video"></i>
                    <span>Videos</span>
                </a>
            </li>
            <li class="nav-item @if (ViewBag.CurrentYtMenu == YTBrowserMenu.Comments) { <text>active</text> }">
                <a class="nav-link" href="#">
                    <i class="glyphicon glyphicon-comment"></i>
                    <span>Comments</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div style="width:100%">
                <div style="float:left">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
                <div style="float:right">
                    <button type="button" class="btn btn-info" title="Export to Excel">
                        <i class="glyphicon glyphicon-cloud-download"></i>
                    </button>
                    <button type="button" class="btn btn-info" title="Import from CSV">
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                    </button>
                </div>
            </div>
        </nav>
        <div class="contentDetails">
            @RenderBody()
        </div>
    </div>
</div>

@section subLayoutScripts {
    <script>

        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });

        $('#sidebar ul li a.nav-link').click(function () {
            var navItem = $(this).closest('.nav-item');
            navItem.siblings().removeClass('active');
            navItem.addClass('active');
        });

    </script>

    @RenderSection("scripts", required: false)
}




