@model YTUsageViewer.Models.CommentsSearch
@{
    ViewBag.Title = "Test Playground";
}
<div class="container">
    <h2>@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Search Criteria
                    <a class="pull-right" data-toggle="collapse" href="#criteriaItems"><span class="glyphicon glyphicon-resize-vertical"></span></a>
                </h4>
            </div>
            <div id="criteriaItems" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form>
                        <div class="row form-row">
                            <label for="cboSubscription" class="col-sm-2 col-form-label">Subscription</label>
                            <div class="col-sm-10">
                                <input name="cboSubscription" list="lstSubscriptions" class="form-control" />
                                <datalist id="lstSubscriptions">
                                    <option></option>
                                    <option value="Volvo" />
                                    <option value="Mahindra" />
                                    <option value="Mercedes" />
                                    <option value="Audi" />
                                </datalist>
                            </div>
                        </div>
                        <div class="row form-row">
                            <label for="txtPlaylist" class="col-sm-2 col-form-label">Playlist</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="txtPlaylist" value="">
                            </div>
                        </div>
                        <div class="row form-row">
                            <label for="txtChannel" class="col-sm-2 col-form-label">Channel</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="txtChannel" value="">
                            </div>
                        </div>
                        <div class="row form-row">
                            <label for="txtVideoName" class="col-sm-2 col-form-label">Video Name</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="txtVideoName" id="txtVideoName" value="">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="btnSearchVideo">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <label class="col-sm-2 col-form-label">Comment Date</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <label for="dtFromDate" class="col-sm-1 col-form-label">From</label>
                                    <div class="col-sm-5">
                                        <div class="input-group date" data-provide="datepicker">
                                            <input type="text" class="form-control datepicker" name="dtFromDate">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="dtToDate" class="col-sm-1 col-form-label">To</label>
                                    <div class="col-sm-5">
                                        <div class="input-group date" data-provide="datepicker">
                                            <input type="text" class="form-control datepicker" name="dtToDate">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <label for="txtCommentText" class="col-sm-2 col-form-label">Comment Text</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="txtCommentText" value="">
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary pull-right">Search Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading" id="resultHeader">
            <h4 class="panel-title">
                Search Results
            </h4>
        </div>
        <div id="resultItems" class="panel-body">
            <p>There will be results grid here instead of below.</p>
            @Html.Partial("~/Views/Comments/SearchResult.cshtml")
        </div>
    </div>
    <div id="dlgContainer"></div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            //https://bootstrap-datepicker.readthedocs.io/en/latest/options.html
            $('.datepicker').datepicker({
                orientation: 'top'
            });

            $('#btnSearchVideo').click(function () {                             
                $.ajax({
                    url: '@Url.Action("SearchVideoDialog", "Home")',
                    data: { videoName: $('#txtVideoName').val() },
                    type: "GET",
                    success: function (response) {
                        $("#dlgContainer").html(response);
                        $("#dlgSearchVideo").modal()
                    },
                    error: function (response) {
                        $("#dlgContainer").html(response.responseText);
                        $("#dlgSearchVideo").modal()
                    }
                });
            })

            $('#dlgContainer').on('click', '#btnSrchVidOk', function () {
                var selVideoName = $('#txtSrchVideoName').val();
                $('#txtVideoName').val(selVideoName);
                $("#dlgSearchVideo").modal('hide')
            });

            //https://stackoverflow.com/questions/15625195/jquery-validator-plugin-ajax-submitting-not-working
            $("form").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Search", "Comments")',
                    data: $(this).serialize(),
                    success: function (data, status, jqXHR) {
                        $('#resultItems').html(data);
                            /*.append("<p>someone</p>")
                            .hide()
                            .fadeIn(1500, function () {
                                $('#message').append("<img id='checkmark' src='images/ok.png' />");
                            });*/
                    },
                    beforeSend: function (xhr) {
                        $("body").addClass("loading");
                    },
                    complete: function (xhr, status) {
                        $("body").removeClass("loading");
                    }
                });
                return false;
            });

        });
    </script>
}
